.how-it-works{
    width: 100%;
    margin-top: 77px;

    @media screen and (max-width: 768px) {
       margin-top: 40px;
    }

    h4{
        text-align: center;
        font-size: 30px;
        font-weight: 600;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }
}

.how-it-works-box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin: 90px auto 60px;

   @media screen and (max-width: 768px) {
    display: block;
    text-align: center;
    margin-top: 50px;
}
}

.box1, .box2, .box3{
    flex-basis: 45.5%;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen  and (max-width: 768px){
        margin-top: 40px;
    }

    .step1-image, 
    .step2-image, 
    .step3-image{
        height: 95px;
        background-color: #D3F6F0;
        border-radius: 46px;
        width: 108px;
        margin: auto;
        padding: 22px 10px;
    }
    
    .step2-image{
        background-color: #CDD6F2;        
    }

    .step3-image{
        background-color: #F9EDDE;
    }

    h2{
        color: #545454;
        font-weight: 800;
        font-size: 25px;
        margin: 10px 0px;
    }

    p{
        font-weight: 500;
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }
}

